html, body{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 50px 1fr 200px 200px 200px 200px 1fr repeat(4,200px) 1fr 400px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "nav"
        "feature1"
        "smalls11"
        "smalls12"
        "smalls13"
        "smalls14"
        "feature2"
        "smalls21"
        "smalls22"
        "smalls23"
        "smalls24"
        "feature3"
        "footer";
}

nav{
    grid-area: nav;
    background-color: gray;
}

img{
    max-width: 100%;
}

#feature1{
    grid-area: feature1;
}

div{
    background-color: red;
    margin: 1px;
}

#small11{
    grid-area: smalls11; 
    
}

#small12{
    grid-area: smalls12; 
}

#small13{
    grid-area: smalls13; 
}

#small14{
    grid-area: smalls14; 
}

#feature2{
    grid-area: feature2;
}

#small21{
    grid-area: smalls21; 
}

#small22{
    grid-area: smalls22; 
}

#small23{
    grid-area: smalls23; 
}

#small24{
    grid-area: smalls24; 
}


#feature3{
    grid-area: feature3;
}

footer{
    grid-area: footer;
}

@media screen and (min-width : 520px) {
    body{
        grid-template-rows: 50px 1fr 200px 200px 1fr repeat(2,200px) 1fr 400px; 
        grid-auto-columns: 1fr 1fr;
        grid-template-areas: 
            "nav        nav"
            "feature1   feature1"
            "smalls11   smalls12"
            "smalls13   smalls14"
            "feature2   feature2"
            "smalls21   smalls22"
            "smalls23   smalls24"
            "feature3   feature3"
            "footer     footer";
    }
}

@media screen and (min-width : 900px){
    body{
        grid-template-rows: 50px 1fr 100px 1fr 100px 1fr 400px;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "nav        nav         nav         nav"
        "feature1   feature1    feature1    feature1"
        "smalls11   smalls12    smalls13    smalls14"
        "feature2   feature2    feature2    feature2"
        "smalls21   smalls22    smalls23    smalls24"
        "feature3   feature3    feature3    feature3"
        "footer     footer      footer      footer";
    }
}